<ion-view view-title="Melanoma App" style="background-color:rgb(50,50,50);color:white">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider" style="background-color:rgb(0,0,0);color:white">Common Symptoms of Melanoma</div>
            <div class="item item-body" style="background-color:rgb(0,0,0);color:white">
                <div>
                    <b>Mole has uneven borders</b>
                </div>
                <div>
                    <b>Mole's sides are insymmetrical</b>
                </div>
                <div>
                    <b>Mole's color is uneven</b>
                </div>
                <div>
                    <b>Mole's diameter is longer than 4 mm/0.016 in</b>
                </div>
            </div>
        </div>
    
        <button class="button button-block button-dark" ng-click="getPhoto()" ng-controller="CameraCtrl">
            Take Picture
        </button>
        <!--
        <button onclick="window.location.href='/templates/tab-picture.html'" class="button button-block button-dark">
            Take a Picture
        </button>-->
        
        <!--ng-click="getPhoto()" ng-controller="CameraCtrl"
        <button class="button button-block button-dark">
            Forums of DEATH!!!
        </button>-->
        <!--button class="button button-block button-dark">
            Log Out
        </button>
        <div class="list card">
            <div class="item item-divider">Your Info</div>
            <div class="item item-body">
                <div>
                    Mauno Kuolevainen
                </div>
                <div>
                    Kalmakatu 13
                </div>
                <div>
                    Vainajan Sairaanhoitopiiri
                </div>
            </div>
        </div-->
    </ion-content>
</ion-view>

